#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.background-border {
    background-image: url('../images/food-border.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin: 10px 10px;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.menu-item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-grow: 1;
    align-self: center;
    justify-content: center;
}

.scp7599 {
    background-image: url(../images/scp7599.png);
    height: 250px;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.food-name {
    text-align: center;
    font-size: 30px;
}

.food-description {
    text-align: center;
}