#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-grow: 1;
}

.background-border {
    background-image: url('../images/food-border.png');
    background-repeat: repeat-x;
    background-size: contain;
    margin: 10px 10px;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.about-me {
    flex-grow: 1;
    font-size: 30px;
    margin-bottom: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.github {
    color: rgb(101, 101, 101);
    text-decoration: none;
}

.github:hover {
    color: rgb(67, 67, 67);
}
